

<form [formGroup]="productForm">
  <div class="row">
    <label class="col-xs-2" [ngClass]="{invalidField: checkValidity('category') && isSubmitted}">Category</label>
    <input class="col-xs-2" formControlName="category"/>
  </div>
  <div class="row">
    <label class="col-xs-2" [ngClass]="{invalidField: checkValidity('title') && isSubmitted}">Title</label>
    <input class="col-xs-2" formControlName="title"/>
  </div>
  <div class="row">
   <label class="col-xs-2" [ngClass]="{invalidField: checkValidity('brand') && isSubmitted}">Brand</label>
   <input class="col-xs-2" formControlName="brand"/>
  </div>
  <div class="row">
   <label class="col-xs-2" [ngClass]="{'col-xs-2': true, invalidField: checkValidity('price') && isSubmitted}">Price</label>
   <input class="col-xs-2" formControlName="price"/>
    <label class="invalidField" *ngIf="checkValidity('price') && isSubmitted">Price must be the number from 0 to 100000</label>
  </div>
  <div class="row">
   <label class="col-xs-2" [ngClass]="{invalidField: checkValidity('image') && isSubmitted}">Image</label>
   <input class="col-xs-2" formControlName="image" />
  </div>
  <div class="row">
   <label class="col-xs-2" [ngClass]="{invalidField: checkValidity('description') && isSubmitted}">Description</label>
   <input class="col-xs-2" formControlName="description"/>
  </div>
  <div class="row">
   <label class="col-xs-2" [ngClass]="{invalidField: checkValidity('details') && isSubmitted}">Details</label>
   <input class="col-xs-2" formControlName="details"/>
  </div>
  <button (click)="submit()">Save changes</button>
</form>
