<div class="admin-page">
  <button (click)="create()">Create product</button>
  <div class="row">
    <label class="col-xs-2">Category</label>
    <label class="col-xs-2">Title</label>
    <label class="col-xs-2">Brand</label>
    <label class="col-xs-2">Creation date</label>
  </div>
  <div class="row" *ngFor="let product of products">
    <div class="col-xs-2">
      {{product.category}}
    </div>
    <div class="col-xs-2">
      {{product.title}}
    </div>
    <div class="col-xs-2">
      {{product.brand}}
    </div>
    <div class="col-xs-2">
      {{product._id | date: 'dd MMM yyyy'}}
    </div>
    <div class="col-xs-1">
      <button (click)="edit(product)">Edit</button>
    </div>
    <div class="col-xs-1">
      <button (click)="delete(product)">Delete</button>
    </div>
  </div>
</div>
